/*Pop up modal (modal.css)*/

@keyframes animate{

    from{opacity: 1s;}
    from{opacity: 0s;}
}
/*Animação de adcionado*/

.message{
    animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45,0.94) both
}

@keyframes slidein{
  0%{
    transform: translateX(1000px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
